<h1 id="what-i-created" class="global-header">What i created</h1>
<section class="projects-wrapper">
  <% @cv.work.reverse.each_with_index do |job, index| %>
    <div id="job-<%= index %>">
      <h2 class="date"><%= job.date_start %> - <%= job.date_end %></h2>
      <div class="job-position"><%= job.job_position %></div>
      <div class="projects">
        <% job.projects.each do |project| %>
          <div class="box project">
            <div>
              <h3 class="h3"><%= project.project_title %></h3>
              <img src="<%= project.image %>" alt="">
            </div>
            <div>
              <p><%= project.description %></p>
              <div class="skills-features">
                <div>
                  <% if project.features %>
                    <b class="i">Features</b>
                    <ul class="list-used-skills">
                      <% project.features.each do |feature| %>
                        <li><%= feature %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
                <div>
                  <% if project.skills_used %>
                    <b class="i">Used technologies:</b>
                    <ul class="list-used-skills">
                      <% project.skills_used.each do |skill| %>
                        <li><%= skill %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
